<div class="widget widget-nopad stacked">

    <div class="widget-header">
        <i class="icon-list-alt"></i>
        <h3>Recent News</h3>
    </div> <!-- /widget-header -->

    <div class="widget-content">

        <ul class="news-items">
            <li>

                <div class="news-item-detail">										
                    <a href="javascript:;" class="news-item-title">Duis aute irure dolor in reprehenderit</a>
                    <p class="news-item-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                </div>

                <div class="news-item-date">
                    <span class="news-item-day">08</span>
                    <span class="news-item-month">Mar</span>
                </div>
            </li>
            <li>
                <div class="news-item-detail">										
                    <a href="javascript:;" class="news-item-title">Duis aute irure dolor in reprehenderit</a>
                    <p class="news-item-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                </div>

                <div class="news-item-date">
                    <span class="news-item-day">08</span>
                    <span class="news-item-month">Mar</span>
                </div>
            </li>
            <li>
                <div class="news-item-detail">										
                    <a href="javascript:;" class="news-item-title">Duis aute irure dolor in reprehenderit</a>
                    <p class="news-item-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                </div>

                <div class="news-item-date">
                    <span class="news-item-day">08</span>
                    <span class="news-item-month">Mar</span>
                </div>
            </li>
        </ul>

    </div> <!-- /widget-content -->

</div>