
      <div class="row">
      	
      	<div class="col-md-8 col-xs-12">
      		
      		 <!-- /widget -->	
			<?= $this->partial('application/main/index/users'); ?>
			<!-- /widget -->	
			<?= $this->partial('application/main/index/quick_stats'); ?>
			
			
			 <!-- /widget -->	
			<?= $this->partial('application/main/index/recent'); ?>		
										
			 <!-- /widget -->
      		<?= $this->partial('application/main/index/content'); ?>
	    </div> <!-- /span6 -->
      	
      	
      	<div class="col-md-4">	
      		
      		
      		 <!-- /widget -->
      		<?= $this->partial('application/main/index/quick_shortcuts'); ?>
      		
					
					
			 <!-- /widget -->
			<?= $this->partial('application/main/index/chart'); ?>		
					
					
					
			 <!-- /widget -->
			<?= $this->partial('application/main/index/table'); ?>					
	      </div> <!-- /span6 -->
      	
      </div> <!-- /row -->